@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #392f41;
    margin: 0;
    height: 100vh;
}

.image {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-right: 10px;
    margin-bottom: 20px;

}

.title {
    font-family: 'Istok Web', serif;
    color: #D34C8E;
    font-weight: 700;
    display: inline-block;
}

.center {
    text-align: center;
    margin: 0 auto;
    align-self: center;
}

.test {
    padding: 5%;
    margin: auto;
    width: 90%;
    text-align: center;
}

.input-form {
    margin-right: 20px;
}

.submit {
    margin-left: 10px;
}

