:root {
    --main-blue: #49D9E9;
    --main-black: #392f41;
    --main-red: #D34C8E
}

.height {
    background-color: #392f41;
    min-height: 100vh;
    margin: 0;
    padding: 2% 10%;
    font-family: 'Istok Web', serif;

}

.image2 {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 5px;

}


.chart {
    margin-top: -5%;
    margin-bottom: -5%;
}

.tooltip-color {
    background-color: #282c34;
}


.chart-title {
    font-family: 'Istok Web', serif;
    color: #D34C8E;
    font-weight: 700;
    font-size: x-large;
    display: inline-block;
}

.loading-title {
    font-family: 'Istok Web', serif;
    color: #D34C8E;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
    padding-top: 40%;
}

.balance {
    font-family: 'Istok Web', serif;
    color: #f1faee;
    margin-bottom: 10px;
    font-size: smaller;
    display: inline-block;
}

.data {
    color: var(--main-blue);
    font-weight: 700;
    font-size: x-large;
}

.small-title {
    color: white;
    font-size: smaller;
    padding-top: 30px;
    margin-top: 20px;
}

.small-title2 {
    color: white;
    font-size: smaller;
}

.time {
    color: white;
    font-size: small;
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
}

.form {
    display: inline-block;
    float: right;
    text-align: right;
}

.small-tag {
    font-size: xx-small;
    background-color: #f2ecde;
    display: inline-block;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-radius: 10%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: -10px;
    font-weight: bold;
}

.currentBalance {
    color: #CB4A8F;
    font-weight: 700;
    font-size: x-large;
}

.time {
    font-size: small;
    color: white;
    display: inline-block;
    text-align: right;
}

.history {
    display: inline-block;
    background-color: rgba(25, 220, 213, 0.3);
    color: #18DCD6;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: smaller;
    text-align: left;
    min-width: 120px;
    font-weight: bold;
    letter-spacing: .1rem;
}

.negative {
    display: inline-block;
    background-color: rgba(211, 76, 142, 0.3);
    color: #D34C8E;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: smaller;
    text-align: left;
    min-width: 120px;
    font-weight: bolder;
    letter-spacing: .1rem;

}

.toggle {
    color: #17A2B8;
    text-align: left;
    font-size: smaller;
}


.copyright {
    text-align: center;
    color: #D34C8E;
    position: absolute;
    bottom: 5%;

}

.copy-right-center {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-copyright {
    padding-top: 10px;
    text-align: center;
    color: #D34C8E;
}

.copy-link {
    color: #17A2B8;
}

.example {
    color: white;
    font-size: small;
}

.address {
    color: white;
    font-size: small;
}

.subtitle {
    color: #17A2B8;
    font-style: italic;
    font-size: larger;
}

.mobile-background {
    background-color: var(--main-black);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Istok Web', serif;
}


.mobile-example {
    font-size: small;
    color: white;
}

.mobile-copyright {
    text-align: center;
    color: #D34C8E;

}

.mobile-height {
    min-height: 100vh;
    background-color: var(--main-black);
    padding: 10px 0;
}

.mobile-small-title {
    color: white;
    font-size: smaller;
}

.mobile-center {
    text-align: center;
    margin: 0;
    align-self: center;
}


.mobile-balance {
    font-family: 'Istok Web', serif;
    color: white;
    font-size: x-small;
    display: inline-block;
    padding-left: 20px;
}

.mobile-data {
    font-family: 'Istok Web', serif;
    color: var(--main-blue);
    font-size: small;
    font-weight: bold;
    padding-left: 20px;
    margin-top: -15px;
}

.mobile-currentBalance {
    color: var(--main-red);
    font-family: 'Istok Web', serif;
    font-size: small;
    font-weight: bold;
    padding-left: 20px;
    margin-top: -15px;
}

.mobile-small-tag {
    font-size: 5px;
    background-color: #f2ecde;
    display: inline-block;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -30px;
    border-radius: 10%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: -10px;
    font-weight: bold;
}

.mobile-section {
    margin-bottom: 5px;
}


.input-field {
    width: 50%;
}

@media only screen and (min-width: 830px) {
    .form-submit {
        display: inline-block;
    }

    input[type=text], select {
        width: 60%;
        padding: 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #343a40;
        background-color: #3d3b4f;
        border-radius: 4px;
    }

    input[type=submit] {
        display: inline-block;
        background-color: #17A2B8;
        color: white;
        padding: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 1px solid #17A2B8;
        border-radius: 4px;
        cursor: pointer;
    }

    .address-part {
        display: inline-block;
        padding-bottom: 10px;
    }

    .addaddress {
        display: inline-block;
        width: 50%;
        text-align: right;
        float: right;
        margin-bottom: -20px;
    }

    .clearfix::before {
        content: "";
        clear: both;
        display: table;
    }

    .main-chart {
        background-color: #3d3b4f;
        padding: 3%;
        -webkit-box-shadow: 0 0 15px 10px #4a4e69 inset;
        box-shadow: 0 0 15px 10px #4a4e69 inset;
        border-radius: 12px;
    }

}

@media only screen and (max-width: 829px) {
    .form-submit {
        display: inline-block;
    }

    input[type=text], select {
        width: 60%;
        padding: 5px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #343a40;
        background-color: #3d3b4f;
        border-radius: 4px;
    }

    input[type=submit] {
        display: inline-block;
        background-color: #17A2B8;
        color: white;
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 1px solid #17A2B8;
        border-radius: 4px;
        cursor: pointer;
    }

    .address-part {
        display: inline-block;
        padding-bottom: 20px;
    }

    .addaddress {
        display: inline-block;
        width: 50%;
        text-align: right;
        float: right;
        padding-top: 20px;
    }

    .clearfix::before {
        content: "";
        clear: both;
        display: table;
    }

    .image {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .title {
        font-size: x-large;
        color: var(--main-red);
        font-family: 'Istok Web', serif;
    }

    .subtitle {
        font-size: medium;
        color: var(--main-blue);
        font-style: italic;
    }

    .history {
        margin-left: 20px;
        display: inline-block;
        background-color: rgba(25, 220, 213, 0.3);
        color: #18DCD6;
        padding: 5px 5px 5px 10px;
        border-radius: 5px;
        font-size: x-small;
        text-align: left;
        min-width: 100px;
        font-weight: bold;
        letter-spacing: .1rem;
    }

    .time {
        color: white;
        font-size: x-small;
        display: inline-block;
        padding-left: 20px;

    }

    .negative {
        margin-left: 20px;
        display: inline-block;
        background-color: rgba(211, 76, 142, 0.3);
        color: #D34C8E;
        padding: 5px 5px 5px 10px;
        border-radius: 5px;
        font-size: x-small;
        text-align: left;
        min-width: 100px;
        font-weight: bold;
        letter-spacing: .1rem;
    }

    .main-chart {
        padding: 10px;
        margin-bottom: 20px;
    }
}

.error {
    font-size: large;
    color: var(--main-blue);
}

.go-back {
    color: var(--main-red);
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
}

.icon {
    color: var(--main-red);
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}


